<!DOCTYPE html>

<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" class="no-js">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8"/>
    <title>$!pageTitle</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <meta content="" name="description"/>
    <meta content="" name="author"/>
    <!-- BEGIN GLOBAL MANDATORY STYLES -->

    <link href="http://10.1.100.100/metronic/assets/global/plugins/font-awesome/css/font-awesome.min.css"
          rel="stylesheet"
          type="text/css"/>
    <link href="http://10.1.100.100/metronic/assets/global/plugins/simple-line-icons/simple-line-icons.min.css"
          rel="stylesheet"
          type="text/css"/>
    <link href="http://10.1.100.100/metronic/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet"
          type="text/css"/>
    <link href="http://10.1.100.100/metronic/assets/global/plugins/uniform/css/uniform.default.css" rel="stylesheet"
          type="text/css"/>
    <link href="http://10.1.100.100/metronic/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css"
          rel="stylesheet"
          type="text/css"/>
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN PAGE LEVEL PLUGIN STYLES -->
    <link href="http://10.1.100.100/metronic/assets/global/plugins/bootstrap-daterangepicker/daterangepicker-bs3.css"
          rel="stylesheet"
          type="text/css"/>
    <!-- END PAGE LEVEL PLUGIN STYLES -->
    <!-- DOC: To use 'rounded corners' style just load 'components-rounded.css' stylesheet instead of 'components.css' in the below style tag -->
    <link href="http://10.1.100.100/metronic/assets/global/css/components.css" id="style_components" rel="stylesheet"
          type="text/css"/>
    <link href="http://10.1.100.100/metronic/assets/global/css/plugins.css" rel="stylesheet" type="text/css"/>
    <link href="http://10.1.100.100/metronic/assets/admin/layout/css/layout.css" rel="stylesheet" type="text/css"/>
    <link href="http://10.1.100.100/metronic/assets/admin/layout/css/themes/darkblue.css" rel="stylesheet"
          type="text/css"
          id="style_color"/>
    <link href="http://10.1.100.100/metronic/assets/admin/layout/css/custom.css" rel="stylesheet" type="text/css"/>

    <link href="http://10.1.100.100/wdren/css/reset.css" rel="stylesheet" type="text/css"/>


    <!-- END 主题风格S -->
    <link rel="shortcut icon" href="favicon.ico"/>

    <script src="http://10.1.100.100/metronic/assets/global/plugins/jquery.min.js" type="text/javascript"></script>

</head>
<body class="page-header-fixed page-quick-sidebar-over-content page-style-square">
<!-- BEGIN HEADER -->
<div class="page-header navbar navbar-fixed-top page-sidebar-fixed">
    <!-- BEGIN HEADER INNER -->
    <div class="page-header-inner">
        <!-- BEGIN LOGO -->
        <div class="page-logo">
            <a href="index.html">
                <img src="http://10.1.100.100/metronic/weidian.ico" height="34" style="margin: 8px 0 0;" alt="logo"
                     class="logo-default"/>
            </a>

            <div style="margin: 10px 0 0 70px;font-size: 24px; color: white;">$appTitle</div>

            <div class="menu-toggler sidebar-toggler hide">
                <!-- DOC: Remove the above "hide" to enable the sidebar toggler button on header -->
            </div>
        </div>
        <!-- END LOGO -->

        <!-- BEGIN TOP NAVIGATION MENU -->
        <div class="top-menu">
            <ul class="nav navbar-nav pull-right">
                <!-- BEGIN NOTIFICATION DROPDOWN -->
                <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
                <li class="dropdown dropdown-extended dropdown-notification" id="header_notification_bar">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"
                       data-close-others="true">
                    ##                        <i class="fa fa-arrow-right"></i>
                    ##                        <span class="badge badge-default"> NEW </span>
                        站点导航
                    </a>
                    <ul class="dropdown-menu">
                        <li class="external">
                            <h3>常用站点</h3>
                            <a href="http://wdren.vdian.net">更多</a>
                        </li>
                        <li>
                            <ul id="site-nav" class="dropdown-menu-list scroller" style="height: 250px;"
                                data-handle-color="#637283">

                            </ul>
                        </li>
                    </ul>
                </li>
                <!-- END TODO DROPDOWN -->
                <!-- BEGIN USER LOGIN DROPDOWN -->
                <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
                <li class="dropdown dropdown-user">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"
                       data-close-others="true">
                        <img alt="" class="img-circle"
                             src="http://10.1.100.100/metronic/assets/admin/layout/img/avatar3_small.jpg"/>
					<span class="username username-hide-on-mobile">
                        $user.nick </span>
                        <i class="fa fa-angle-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-default">
                        <li>
                            <a href="/user/$user.name">
                                <i class="icon-user"></i> 个人信息 </a>
                        </li>
                    ##                        <li>
                    ##                            <a href="page_calendar.html">
                    ##                                <i class="icon-calendar"></i> 我的日历 </a>
                    ##                        </li>
                        <li class="divider">
                        </li>
                        <li>
                            <a href="/sso/logout">
                                <i class="icon-logout"></i>退出登录 </a
                        </li>
                    </ul>
                </li>
                <!-- END USER LOGIN DROPDOWN -->
            </ul>
        </div>
        <!-- END TOP NAVIGATION MENU -->
    </div>
    <!-- END HEADER INNER -->
</div>
<!-- END HEADER -->
<div class="clearfix">
</div>
<!-- BEGIN CONTAINER -->
<div class="page-container">
    <!-- BEGIN SIDEBAR -->
    <div class="page-sidebar-wrapper">
        <div class="page-sidebar navbar-collapse collapse">
            <ul class="page-sidebar-menu" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
                <!-- DOC: To remove the sidebar toggler from the sidebar you just need to completely remove the below "sidebar-toggler-wrapper" LI element -->
                <li class="sidebar-toggler-wrapper">
                    <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
                    <div class="sidebar-toggler" style="margin-bottom: 10px">
                    </div>
                    <!-- END SIDEBAR TOGGLER BUTTON -->
                </li>
                #foreach($m in $menus)
                    #if($m.children && !$m.children.isEmpty())
                            <li class="menu-1">
                                <a href="javascript:;">
                                    <i class="$!m.icon"></i>
                                    <span class="title">$m.title </span>
                                    <span class="selected"></span>
                                    <span class="arrow"></span>
                                </a>
                                <ul class="sub-menu">
                                    #foreach($c in $m.children)
                                        #if($c.split)
                                            <li role="separator" class="divider"></li>
                                        #else
                                            <li>
                                                <a href="$c.uri">
                                                    <i class="$!c.icon"></i>
                                                    <span class="title">$c.title </span>
                                                </a>
                                            </li>
                                        #end
                                    #end
                                </ul>
                            </li>
                    #else
                            <li class="menu-1">
                                <a href="$m.uri">
                                    <i class="fa fa-home"></i>
                                    <span class="title">$m.title</span>
                                </a>
                            </li>
                    #end
                #end
            </ul>
            <!-- END SIDEBAR MENU -->
        </div>
    </div>
    <!-- END SIDEBAR -->
    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
        <div class="page-content">
            <!-- BEGIN PAGE HEADER-->
            <h3 class="page-title">
                $!pageTitle
            </h3>
            <!-- END PAGE HEADER-->
            <!-- BEGIN Dashboard STATS -->
            $!screen_content
        </div>
    </div>
    <!-- END CONTENT -->
    <!-- BEGIN QUICK SIDEBAR -->
    <a href="javascript:;" class="page-quick-sidebar-toggler"><i class="icon-close"></i></a>

    <!-- END QUICK SIDEBAR -->
</div>
<!-- END CONTAINER -->

<!-- BEGIN CORE PLUGINS -->
<!--[if lt IE 9]>
<script src="http://10.1.100.100/metronic/assets/global/plugins/respond.min.js"></script>
<script src="http://10.1.100.100/metronic/assets/global/plugins/excanvas.min.js"></script>
<![endif]-->
<script src="http://10.1.100.100/metronic/assets/global/plugins/jquery-migrate.min.js" type="text/javascript"></script>
<!-- IMPORTANT! Load jquery-ui-1.10.3.custom.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->
<script src="http://10.1.100.100/metronic/assets/global/plugins/jquery-ui/jquery-ui-1.10.3.custom.min.js"
        type="text/javascript"></script>
<script src="http://10.1.100.100/metronic/assets/global/plugins/bootstrap/js/bootstrap.min.js"
        type="text/javascript"></script>
<script src="http://10.1.100.100/metronic/assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js"
        type="text/javascript"></script>
<script src="http://10.1.100.100/metronic/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js"
        type="text/javascript"></script>
<script src="http://10.1.100.100/metronic/assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
<script src="http://10.1.100.100/metronic/assets/global/plugins/jquery.cokie.min.js" type="text/javascript"></script>
<script src="http://10.1.100.100/metronic/assets/global/plugins/uniform/jquery.uniform.min.js"
        type="text/javascript"></script>
<script src="http://10.1.100.100/metronic/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js"
        type="text/javascript"></script>
<!-- END CORE PLUGINS -->
<!-- BEGIN PAGE LEVEL PLUGINS -->
<script src="http://10.1.100.100/metronic/assets/global/plugins/flot/jquery.flot.min.js"
        type="text/javascript"></script>
<script src="http://10.1.100.100/metronic/assets/global/plugins/flot/jquery.flot.resize.min.js"
        type="text/javascript"></script>
<script src="http://10.1.100.100/metronic/assets/global/plugins/flot/jquery.flot.categories.min.js"
        type="text/javascript"></script>
<script src="http://10.1.100.100/metronic/assets/global/plugins/jquery.pulsate.min.js" type="text/javascript"></script>
<script src="http://10.1.100.100/metronic/assets/global/plugins/bootstrap-daterangepicker/moment.min.js"
        type="text/javascript"></script>
<script src="http://10.1.100.100/metronic/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.js"
        type="text/javascript"></script>
<!-- IMPORTANT! fullcalendar depends on jquery-ui-1.10.3.custom.min.js for drag & drop support -->
<script src="http://10.1.100.100/metronic/assets/global/plugins/fullcalendar/fullcalendar.min.js"
        type="text/javascript"></script>
<script src="http://10.1.100.100/metronic/assets/global/plugins/jquery-easypiechart/jquery.easypiechart.min.js"
        type="text/javascript"></script>
<script src="http://10.1.100.100/metronic/assets/global/plugins/jquery.sparkline.min.js"
        type="text/javascript"></script>
<!-- END PAGE LEVEL PLUGINS -->
<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script src="http://10.1.100.100/metronic/assets/global/scripts/metronic.js" type="text/javascript"></script>
<script src="http://10.1.100.100/metronic/assets/admin/layout/scripts/layout.js" type="text/javascript"></script>
<script src="http://10.1.100.100/metronic/assets/admin/layout/scripts/quick-sidebar.js" type="text/javascript"></script>
<script src="http://10.1.100.100/wdren/js/menu.js" type="text/javascript"></script>
##<script src="/assets/js/user-select.js" type="text/javascript"></script>

<script>
    jQuery(document).ready(function () {
        Metronic.init(); // init metronic core componets
        Layout.init(); // init layout
        QuickSidebar.init(); // init quick sidebar
        Menu.init();
        loadSiteNav();
    });

    function loadSiteNav() {
        $.ajax({
            dataType: "jsonp",
            url: 'http://wdren.vdian.net/api/navs',
            jsonp: "callback",
            success: callback
        });
    }

    function callback(data) {
        var tmp = [];
        jQuery.each(data, function (index, value) {
            tmp.push('<li><a style="padding: 8px 15px 8px" href="');
            tmp.push(value.url);
            tmp.push('"><span class="details">');
            tmp.push(value.title);
            tmp.push('</span></a></li>');
        })
        $('#site-nav').append(tmp.join(''));
    }

</script>
</body>
</html>